@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

body, html {
  width: 100%;
  height: 100%;
}

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header {
  background-color: white;
  padding: 10px 30px;
  .logo {
    img { width: 250px}
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

.main-content {
  background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url("../img/bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 30px;
  color: white;
  overflow: hidden;
  @media only screen and (max-width: 1200px) {
    .description { width: 50%}
    .form-home-loans { width: 50% }
  }
  @media only screen and (max-width: 992px) {
    .description {
      width: 100%;
      margin-bottom: 30px;
    }
    .form-home-loans { width: 100% }
  }
  @media only screen and (max-width: 768px) {
    padding: 15px;
  }
}

.main-title {
  font-size: 3.35em;
  margin-bottom: 5px;
  @media only screen and (max-width: 768px) {
    font-size: 2.5em;
  }
  @media only screen and (max-width: 500px) {
    font-size: 2em;
  }

}
.second-title {
  font-size: 2.8em;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    font-size: 2em;
  }
  @media only screen and (max-width: 500px) {
    font-size: 1.3em;
  }
}

.description {
  float: left;
  width: 62%;
  padding-right: 20px;
}

.list-advantages {
  list-style-position: inside;
  list-style-type: none;
  font-size: 2.2em;
  line-height: 1.5em;
  margin-left: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    font-size: 1.8em;
  }
  @media only screen and (max-width: 500px) {
    font-size: 1.2em;
    margin-left: 0;
  }
  li {
    padding: 0 0 0 20px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -10px;
      top: 22%;
      width: 15px;
      height: 15px;
      display: block;
      background: url("../img/icon-star.png") 50% 50% no-repeat;
      background-size: contain;
      @media only screen and (max-width: 500px) {
        top: 0; left: 0
      }
    }
  }
}
.text-main-content {
  font-size: 1.25em;
  line-height: 1.5em;
  @media only screen and (max-width: 500px) {
    font-size: 1em;
  }
}

//form
.form-home-loans {
  text-align: center;
  float: right;
  width: 38%;
  background-color: #00af98;
  color: white;
  padding: 20px 10px;
  .form-row {
    overflow: hidden;
    .wrap-input {
      width: 50%;
      float: left;
      padding: 0 15px;
      margin-bottom: 10px;
      select, input  {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 5px 10px;
        line-height: 1.8em;
      }
      @media only screen and (max-width: 500px) {
        width: 100%;
        padding: 0 2px;
      }
    }
  }
  .row-date-birth {
    margin-bottom: 10px;
    overflow: hidden;
    label { padding: 0 15px; }
    .wrap-input {
      width: 33.33%;
      padding: 0 15px;
      float: left;
      select {
        border: none;
        outline: none;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        border-radius: 3px;
        padding: 5px 10px;
        font-weight: 500;
        line-height: 1.8em;
      }
      @media only screen and (max-width: 500px) {
        padding: 0 2px;
      }
    }
  }
  label {
    font-size: 1.12em;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  .header-form {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 2.4em;
    @media only screen and (max-width: 500px) {
      font-size: 2em;
    }
  }
  .desc-form {
    margin-bottom: 30px;
    font-size: 1.2em;
  }
  .fieldset {
    text-align: left;
    padding-bottom: 20px;
    margin: 0 10px 10px 10px;
  }
  .fieldset.border-bottom {
    border-bottom: solid 1px white;
  }
  .btn-submit {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #ffb016;
    color: #2e2e2e;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.95em;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      background-color: #eba616;;
    }
    @media only screen and (max-width: 500px) {
      padding: 10px 30px;
    }
  }
  .footer-form-text {
    font-size: .85em;
  }
}
// end form

.link { display: inline-block}

footer {
  padding: 30px 30px;
  text-align: center;
  line-height: 1.5em;
  .footer-text-uppercase {
    font-size: 1.25em;
  }
  .footer-text {
    font-size: 1em;
  }
}

footer {
  @media only screen and (max-width: 768px) {
    padding: 15px;
  }
}

//thank-you-page
.thank-page {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../img/bg-thank-page.jpg") 50% 50% no-repeat;
  background-size: cover;
  .content-thank-page {
    padding: 50px 200px 0 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #454545;
    text-align: center;
    h1 {
      font-size: 3.5em;
      margin-bottom: 20px
    }
    p {
      font-size: 3em;
    }
    @media only screen and (max-width: 992px) {
      padding: 50px 100px 0 100px;
    }
    @media only screen and (max-width: 768px) {
      padding: 50px 50px 0 50px;
      h1 { font-size: 2.5em}
      p { font-size: 2em};
    }
  }
}