@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext");
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

header {
  padding: 10px 30px; }
  header .logo img {
    width: 250px; }
  @media only screen and (max-width: 768px) {
    header .logo {
      text-align: center; } }

.main-content {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 30px;
  color: white;
  overflow: hidden; }

.main-title {
  font-size: 3.35em;
  margin-bottom: 5px; }
  @media only screen and (max-width: 768px) {
    .main-title {
      font-size: 2.5em; } }
  @media only screen and (max-width: 500px) {
    .main-title {
      font-size: 2em; } }

.second-title {
  font-size: 2.8em;
  margin-bottom: 20px; }
  @media only screen and (max-width: 768px) {
    .second-title {
      font-size: 2em; } }
  @media only screen and (max-width: 500px) {
    .second-title {
      font-size: 1.3em; } }

.description {
  float: left;
  width: 62%;
  padding-right: 20px; }

.list-advantages {
  list-style-position: inside;
  list-style-type: none;
  font-size: 2.2em;
  line-height: 1.5em;
  margin-left: 20px;
  font-weight: 600;
  margin-bottom: 20px; }
  @media only screen and (max-width: 768px) {
    .list-advantages {
      font-size: 1.8em; } }
  @media only screen and (max-width: 500px) {
    .list-advantages {
      font-size: 1.2em;
      margin-left: 0; } }
  .list-advantages li {
    padding: 0 0 0 20px;
    position: relative; }
    .list-advantages li:before {
      content: "";
      position: absolute;
      left: -10px;
      top: 22%;
      width: 15px;
      height: 15px;
      display: block;
      background: url("../img/icon-star.png") 50% 50% no-repeat;
      background-size: contain; }
      @media only screen and (max-width: 500px) {
        .list-advantages li:before {
          top: 0;
          left: 0; } }

.text-main-content {
  font-size: 1.25em;
  line-height: 1.5em; }
  @media only screen and (max-width: 500px) {
    .text-main-content {
      font-size: 1em; } }

.form-home-loans {
  text-align: center;
  float: right;
  width: 38%;
  background-color: #00af98;
  color: white;
  padding: 20px 10px; }
  .form-home-loans .form-row {
    overflow: hidden; }
    .form-home-loans .form-row .wrap-input {
      width: 50%;
      float: left;
      padding: 0 15px;
      margin-bottom: 10px; }
      .form-home-loans .form-row .wrap-input select, .form-home-loans .form-row .wrap-input input {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 5px 10px; }
      @media only screen and (max-width: 500px) {
        .form-home-loans .form-row .wrap-input {
          width: 100%;
          padding: 0 2px; } }
  .form-home-loans .row-date-birth {
    margin-bottom: 10px;
    overflow: hidden; }
    .form-home-loans .row-date-birth label {
      padding: 0 15px; }
    .form-home-loans .row-date-birth .wrap-input {
      width: 33.33%;
      padding: 0 15px;
      float: left; }
      .form-home-loans .row-date-birth .wrap-input select {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        border-radius: 3px;
        padding: 5px 10px;
        font-weight: 500; }
      @media only screen and (max-width: 500px) {
        .form-home-loans .row-date-birth .wrap-input {
          padding: 0 2px; } }
  .form-home-loans label {
    font-size: 1.12em;
    font-weight: 500;
    margin-bottom: 5px;
    display: block; }
  .form-home-loans .header-form {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 2.4em; }
    @media only screen and (max-width: 500px) {
      .form-home-loans .header-form {
        font-size: 2em; } }
  .form-home-loans .desc-form {
    margin-bottom: 30px;
    font-size: 1.2em; }
  .form-home-loans .fieldset {
    text-align: left;
    padding-bottom: 20px;
    margin: 0 10px 10px 10px; }
  .form-home-loans .fieldset.border-bottom {
    border-bottom: solid 1px white; }
  .form-home-loans .btn-submit {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #ffb016;
    color: #2e2e2e;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.95em;
    margin-bottom: 20px; }
    @media only screen and (max-width: 500px) {
      .form-home-loans .btn-submit {
        padding: 10px 30px; } }
  .form-home-loans .footer-form-text {
    font-size: .85em; }

footer {
  padding: 30px 30px;
  text-align: center;
  line-height: 1.5em; }
  footer .footer-text-uppercase {
    font-size: 1.25em; }
  footer .footer-text {
    font-size: 1em; }

@media only screen and (max-width: 1200px) {
  .main-content .description {
    width: 50%; }
  .main-content .form-home-loans {
    width: 50%; } }
@media only screen and (max-width: 992px) {
  .main-content .description {
    width: 100%;
    margin-bottom: 30px; }
  .main-content .form-home-loans {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .main-content {
    padding: 15px; } }

@media only screen and (max-width: 768px) {
  footer {
    padding: 15px; } }

/*# sourceMappingURL=main.css.map */
